 @import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
/*body{
    background :#f2f6f5;
    color: #121b74; 
    margin-top: 0px;   
}

header {
    
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 45px;
    
    top: 0px;
    width: 100%;
    display: inline-block;
    background: rgba(255,255,255,0.9);
    position: fixed;
    
    
}
header h3{
    border-bottom: 2px solid #293462;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 45px;

    
    
}

article{
    display: inline-block;
    border-radius: 20px;
    width: 350px;
    margin: 8px;
    border: 2px solid #000;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}
article:hover{
  
    box-shadow: 10px 10px 10px rgba(0,0,0,0.7);
    background: #e8e8e8;
}
.myInput{
    margin-top:100px;
    width: 20%;
    height: 30px;
    border-radius: 10px; 
}
.myInput:hover{
    margin-top:100px;
    width: 60%;
    height: 30px;
    border-radius: 10px; 
}
.myInput:focus{
    background: #fff3b1;
    font-size: 20px;
    margin-top:100px;
    width: 60%;
    height: 30px;
    
    border-radius: 10px; 
}
#main-content{
    margin-top: 10px;
}
#main-content div{
    height: 350px;
    width: 100%;
    background-size:cover;
    background-position: center;
    border-radius: 100%;
}

h3{
    margin-left: 8px;
}
p{
    margin: 8px;
}
#user-name{
    text-decoration: none;
    display: inline;
    float: right;
    margin-top: 20px;
    font-size: 16px ;
    list-style: none;
    
} */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #f4f4f4;
    color: black;
    font-size: 16px;
    font-weight: normal;

}
header{
    position: fixed;
    top: 0px;
    background: rgba(5, 64, 226, 0.7);
    width: 100%;
    padding: 8px;
}
header h1{
    font-family: 'Oswald', sans-serif;
    display: inline-block;

}
header nav{
    float:right;
    margin-top: 20px;
    margin: 8px;

}
nav .main-menu{
    display: inline-block;
    margin: 8px;
}
.my-input{
    margin: 8px;
    height: 30px;;
    margin-top: 100px;
    width: 40%;
    border-radius: 30px;
    padding: 8px;
    
}
.my-input:focus{
    width: 80%;
    border-radius: 30px;
    padding: 8px;
    margin: 16px;
    background: #ebedf0;
    margin-top: 100px;
}
#main-content{
    margin-block-start: 40px;
    margin-left:100px;
    margin-right:100px;
    /* width: 100% */
}
.main-articles{
    display: inline-block;
    
    border: 2px black solid;
    margin: 8px;
    min-height: 250px;
    border-radius: 10px;
    padding: 8px;
    width: 350px;
}
.main-articles .image{
    border: 1px black solid;
    border-radius: 100%;
    width: 100%;
    height: 350px;
    background-size: cover; 
}
.main-menu a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-weight: 700;
    
}
.main-menu a:hover{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    border-bottom: 1px white solid;
}
.main-menu .submenu {
    
    background: #f4f4f4;
    /* padding: 10px 20px; */
    border: 2px black solid;
    display: none;
}
.active{
    display: block;
} 
.main-menu .sub-menu-item  {
    background: #f4f4f4;
    list-style: none;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    display: block
    
}
.main-menu .sub-menu-item:hover{
    background: #fff;
    font-weight: 700;
    list-style: none;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    
}
.sub-menu a:hover{
    background: #fff;
    color: #000;
    list-style: none;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 20px;
}
